<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='<%= settings.db['config']['meta-description'] %>'>
    <title><%= @config[:title] %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        margin: 5%;
        text-align: center;
        font-size: 3em;
        color: <%= @config[:colour] %>;
        font-family: sans-serif;
      }

      p, li { font-family: 'Open Sans Condensed', sans-serif; }
      a { color: <%= @config[:colour] %>; }
      li { list-style-type: none; }
    </style>
  </head>
  <body>
    <h1><%= @config[:title] %></h1>

    <p><%= @config[:description] %></p>

    To try it out, <a href='/admin' target='_blank'>login</a> with:
    <ul>
      <li>Username: <%= @admin[:name] %></li>
      <li>Password: <%= @admin[:password] %></li>
    </ul>

    <a href='https://github.com/mushishi78/really-simple-admin'>
      <img src='/github.png' />
      Github
    </a>
  </body>
</html>